<!DOCTYPE html>
<html>
    <head>
        <base href="/{% if app.environment == 'dev' %}app_dev.php{% endif %}">
        <meta charset="UTF-8">
        <title>TargetCall | Загрузка...</title>
        <meta name="mobile-web-app-capable" content="yes">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <script src="{{ static_host }}js/polyfill.js" defer></script>
        <script src="{{ static_host }}js/vendor.js" defer></script>
        <script src="{{ static_host }}js/partner.js" defer></script>
    </head>
    <body>
        <tc-app>Загрузка...</tc-app>
    </body>
</html>
