{% extends 'PartnerBundle::page.html.twig' %}
{% set _active = 'settings' %}

{% block head_title %}AdminLTE 2 | Blank Page{% endblock %}

{% block content_header %}
	<h1>
		Настройки
		<small></small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="{{ path('partner/homepage') }}"><i class="fa fa-home"></i> Главная</a></li>
		<li class="active"><i class="fa fa-dashboard"></i> Настройки</a></li>
	</ol>
{% endblock %}

{% block content %}
    {# HERE! #}
{% endblock %}
