<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>dialtime/master</b>&nbsp;v{{ 'dialtime/master'|dialtime_version }}
    </div>
    <strong>&copy; 2014-2016 <a href="{{ path('master/about') }}">Target-Call</a>.</strong> Все права защищены.
</footer>