{% extends 'MasterBundle::page.html.twig' %}

{% block head_title %}AdminLTE 2 | Blank Page{% endblock %}

{% block content_header %}

{% endblock %}

{% block content %}<div style="">{{ text|md2html }}</div>{% endblock %}
