{% extends 'AdminBundle::page.html.twig' %}

{% block head_title %}AdminLTE 2 | Blank Page{% endblock %}

{% block content_header %}
	<h1>
		Поддержка пользователей
		<small>it all starts here</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="#">Examples</a></li>
		<li class="active">Blank page</li>
	</ol>
{% endblock %}

{% block content %}
	<div class="nav-tabs-custom">
		<ul class="nav nav-tabs">
			<li class=""><a href=""><i class="fa fa-list"></i> Тикеты</a></li>
			<li class=""><a href=""><i class="fa fa-list"></i> Запросы номеров</a></li>
			<li class="active"><a href=""><i class="fa fa-list"></i> Запрос номера</a></li>
		</ul>
		<div class="tab-content">
			<form method="get" action="{{ path('admin/support/demanding/resolve', {'id': demanding.id}) }}">
				<ul>
					<li>{{ demanding.id }}</li>
					<li>
						<select name="dongle">
							{% for dongle in dongles %}
								<option value="{{ dongle.id }}">{{ dongle.number }}</option>
							{% endfor %}
						</select>
					</li>
					<li><input type="submit" /></li>
				</ul>
			</form>
		</div>
	</div>
{% endblock %}
