{% extends 'MasterBundle::page.html.twig' %}

{% block head_title %}AdminLTE 2 | Blank Page{% endblock %}

{% block content_header %}
	<h1>
		История изменения рейтинга
		<small></small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="{{ path('master/homepage') }}"><i class="fa fa-home"></i> Главная</a></li>
		<li class="active"><i class="fa fa-dashboard"></i> Рейтинг</a></li>
	</ol>
{% endblock %}

{% block content %}
    {# HERE! #}
{% endblock %}
